<div class="min-w-screen min-h-screen bg-lightGray dark:bg-accent flex items-start justify-center">
  <div
    class="bg-sm-light-pattern duration-75 dark:bg-sm-dark-pattern md:bg-md-light-pattern md:dark:bg-md-dark-pattern lg:bg-lg-light-pattern lg:dark:bg-lg-dark-pattern
    bg-left-top lg:bg-cover bg-no-repeat w-screen h-screen top-0 left-0 flex items-start justify-center relative z-10 py-4 md:py-8 lg:py-16">
    <div class="container px-6">
      <app-home></app-home>
    </div>
  </div>
</div>
